.card-body {
    background: linear-gradient(0deg,rgba(56, 56, 56, .98) 0%, rgba(25, 25, 28, .98) 75%); 
    border-radius: 40px;
    padding: 8rem;
}
@media (max-width: 640px) {
    .card-body {
        padding: 2rem;
    }
}

.error-button {
    font-size: 20px;
    background-color: rgb(0, 0, 0);
}
.error-button:hover {
    background-color: #ffffffe0;
}